body {
	font-size: 10pt;
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	background-color: #fff;
	color: #333;
	text-align: left;
	margin: 0;
	padding: 0; 
}

table {
	font-size: 10pt;
	border:1px solid #ccc;
	border-top:0px;
	border-spacing:0px;
	width:100%;
	padding:0px;
	border-collapse:collapse;
	text-align: left;
}
		
table th {
	background:#efefef;
}

table td, table th {
	border-top:#ccc solid 1px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	vertical-align:top;
}

h1, h2, h3, h4 {
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	font-weight: bold;
}

h1 {
	font-size: 15pt;
	padding-top:15px;
}

h2 {
	font-size: 10pt;
	padding-top:15px;
}

textarea:focus, input:focus {
	background-color: #ffffcc;
}

.header {
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #fff;
	position: relative;
}

.headerSection {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #114070;
}

.headerTitle {
	padding: 2px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 18pt;
	text-align: left;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.headerMenu {
	font-weight: normal;
	font-size: 8pt;
	background-color: #3C78B5;
	overflow: hidden;
	width: 100%
}

.applicationPage {
	background: #eee;
	margin: 0;
	padding: 0;
}

.applicationMenu {
	padding: 20px 0 0px 8px;
	float: left;
	width: 190px;
	background: #eee;
}

.applicationSection {
	margin: 0 0 0 200px;
    padding: 25px;
	font-size: 10pt;
	min-height: 650px;
	height:auto !important; height: 650px;
	background: white;
}

.content {
	margin: 15px;
}

.loginDialog {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	align:center;
	width:375px;
}

.loginForm {
	padding: 10px;
	border:3px solid #3C78B5;
	background:#efefef;
}

.loginFormTitle {
	font-size: 14pt;
	font-weight: bold;
	color: #114070;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.loginFormSubtitle {
	font-size: 7pt;
	color: #114070;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.loginFormItem {
	margin: 15px;
	text-align: left;
}

.loginFormLabel {
	margin: 2px;
	color: #114070;
	text-align: left;
}

.loginFormInput {
	margin: 2px;
	padding: 2px;
	border: 1px solid #114070;
	width: 95%;
}

.loginFormButton {
	margin: 2px;
	padding: 2px;
	border: 1px solid #114070;
}

.loginFormHelp {
	font-size: 8pt;
	margin: 0px;
	padding: 0px;
	text-align: right;
	color: #114070;
}

.loginFormMessage {
	margin: 15px 15px 15px 15px;
	text-align: left;
	color: red;
}

.footer {
	background-color: #114070;
	padding: 0px;
	margin: 0;
	width: 100%;
	clear: both;
	font-size:9pt;
	padding-top:3px;
	padding-bottom:3px;
}

.footerText {
	margin: 0;
	padding: 0;
	padding-right: 12px;
	text-align: right;
	color:#fff;
}

.yuimenubar {
	float:right;
	margin-top:2px;
	margin-right:4px;
}

.yui-skin-sam .yuimenubar {
	font-size:93%;
	background:transparent;
	border:none;
}

.yui-skin-sam .yuimenubaritem-selected {
	background:transparent;
	text-decoration: underline;
	color:#FFFFFF; 
}

.yui-skin-sam .yuimenubaritemlabel {
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	cursor:hand;
}

.yui-skin-sam .yuimenuitemlabel {
	cursor:pointer;
	cursor:hand;
}

.yui-skin-sam .yuimenubaritemlabel-disabled,.yui-skin-sam .yuimenubaritemlabel-disabled:visited {
	cursor:pointer;
	cursor:hand;
}

.yui-menu-shadow-visible {
	visibility:hidden;
}