<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "file://zars/src/utils/resources/schema/dtd/log4j-1.2.14.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/opt/apache-tomcat/logs/zars_uat.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%t][%X{SESSION_ID}/%X{USERNAME}] %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="net.soomsam.zirmegghuette.zars" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="fileAppender" />
	</logger>
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>